<ion-view view-title="Avisos" id="alert">
    <ion-content class="padding-transparent animate-fade-slide-in">

        <div class="list card" ng-repeat="x in alerts">

            <div class="item">
                <h2>{{::x.title}}</h2>
                <p>{{::x.created_at | date}}</p>
            </div>

            <div class="item item-body">
                <img class="full-image" ng-src="{{::x.image}}" ng-click="fullImage(x.image)" ng-if="x.image">
                
                <div ng-bind-html="x.html" class="text"></div>
                
                <div class="place" ng-if="x.place.name"><b>Lugar:</b> {{::x.place.name}}</div>
                <div class="start" ng-if="x.date_start"><b>Fecha/Hora inicio:</b> {{::x.date_start | date}}</div>
                <div class="stop" ng-if="x.date_stop"><b>Fecha/Hora término:</b> {{::x.date_stop | date}}</div>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left" ng-if="x.place.name || x.date_start || x.date_stop">
                <a class="tab-item" href="" ng-if="x.place.name">
                    <i class="icon ion-ios-location"></i>
                    Ver mapa
                </a>
                <a class="tab-item" href="" ng-if="x.date_start && x.date_stop" ng-click="calendar('alert-'+x.id, x.title, x.place.name, x.date_start, x.date_stop)">
                    <i class="icon ion-android-calendar"></i>
                    {{check_event('alert-'+x.id)}}
                </a>
            </div>

        </div>

    </ion-content>
</ion-view>
