<ion-view view-title="Mensajes">
  <ion-content ng-class="{expanded:isExpanded}">
        
	<div class="list condensed-space no-padding">
        <div class="card dark-bg" ng-repeat="x in categories">
            <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" href="#/app/categories/{{::x.slug}}">
                <h2>{{::x.name}}</h2>
                <p>{{::x.subtitle}}</p>
                <img ng-src="{{::x.image}}" width="100%">
            </a>
        </div>
    </div>
    
  </ion-content>
</ion-view>
