<ion-view view-title="" id="detail-reflexion">
    <ion-content class="transparent">

        <div class="card">
        	<h2>{{::reflexion.title}}</h2>
        	<img ng-src="{{::reflexion.image}}" width="100%" alt="" ng-if="reflexion.image != ''">
        	<div>{{::reflexion.created_at | date}}</div>
        	<div>{{::reflexion.source}}</div>
        </div>

        <div class="card">
        	{{::reflexion.text}}
        </div>

    </ion-content>
</ion-view>
