<ion-view view-title="Muro" id="feed">
    <ion-content class="padding-transparent">

        <div class="list card" ng-repeat="x in feed">

            <div ng-if="x.type_feed == 'alert'">
                
                <div class="item">
                    <h2>{{::x.content.title}}</h2>
                    <p>{{::x.content.created_at | date}}</p>
                </div>

                <div class="item item-body">
                    <img class="full-image" ng-src="{{::x.content.image}}" ng-click="fullImage(x.content.image)" ng-if="x.content.image">
                    
                    <div ng-bind-html="x.html" class="text"></div>
                    
                    <div class="place" ng-if="x.content.place.name"><b>Lugar:</b> {{::x.content.place.name}}</div>
                    <div class="start" ng-if="x.content.date_start"><b>Fecha/Hora inicio:</b> {{::x.content.date_start | date}}</div>
                    <div class="stop" ng-if="x.content.date_stop"><b>Fecha/Hora término:</b> {{::x.content.date_stop | date}}</div>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left" ng-if="x.content.place.name || x.content-date_start || x.content.date_stop">
                    <a class="tab-item" href="" ng-if="x.content.place.name">
                        <i class="icon ion-ios-location"></i>
                        Ver mapa
                    </a>
                    <a class="tab-item" href="" ng-if="x.content.date_start && x.content.date_stop" ng-click="calendar('alert-'+x.content.id, x.content.title, x.content.place.name, x.content.date_start, x.content.date_stop)">
                        <i class="icon ion-android-calendar"></i>
                        {{check_event('alert-'+x.content.id)}}
                    </a>
                </div>

            </div>

            <div ng-if="x.type_feed == 'article'" class="article">
                <a class="item item-thumbnail-left" href="#/app/reflexion/{{::x.content.slug}}">
                    <img ng-src="{{::x.content.image}}" width="100%" src="images/defaults/main.jpg" ng-style="{'border-radius':0}">
                    <h2>{{::x.content.title}}</h2>
                </a>
            </div>

        </div>

    </ion-content>
</ion-view>
