<ion-view view-title="Ayuda" id="help">
    <ion-content class="padding-transparent animate-fade-slide-in">
        <div ng-html-bind="::settings.help" class="text"></div>
    </ion-content>
</ion-view>
