<div class="modal image-modal transparent" ng-click="closeFullscreenImage()">
  	<ion-pane class="transparent">
     	<img ng-src="{{fullscreen_image}}" class="fullscreen-image"/>
  	</ion-pane>
</div>