<ion-view view-title="Información" id="help">
    <ion-content class="padding-transparent animate-fade-slide-in">
        <div ng-bind-html="::settings.info" class="text"></div>
    </ion-content>
</ion-view>
