<ion-view view-title="Login" id="login" align-title="left">

	<ion-nav-bar class="bar-stable">


	</ion-nav-bar>

    <ion-content class="padding-transparent">
        
        <img src="images/logo.png" alt="" width="80%" class="logo">
        <h1>Un lugar de oración</h1>
        <button ng-click="facebook()" class="button button-full button-border icon-left ion-social-facebook button-positive-900">Login con Facebook</button>

        <a href="" class="no-register" ng-click="anonymus()">Entrar sin login</a>

    </ion-content>
</ion-view>
