<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content drag-content="false">
		<ion-nav-bar class="bar-stable">
			<ion-nav-back-button class="button-clear back-button">
    			<i class="ion-chevron-left"></i> Volver
  			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<img src="images/logo-simple.png" alt="" class="top-logo" width="80">
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>


	<ion-side-menu side="left" width="220">
		<ion-content>
			<ion-list>
				<ion-item menu-close href="#/app/login" ng-if="loginSession.kind!=1">
					<i class="icon ion-person"></i>
					Login
				</ion-item>
				<ion-item menu-close href="#/app/feed">
					<i class="icon ion-home"></i>
					Muro
				</ion-item>
				<ion-item menu-close href="#/app/categories">
					<i class="icon ion-android-star"></i>
					Mensajes
				</ion-item>
				<ion-item menu-close href="#/app/bulletin-board">
					<i class="icon ion-ios-paper-outline"></i>
					Avisos
				</ion-item>
				<ion-item menu-close href="#/app/trivias">
					<i class="icon ion-lightbulb"></i>
					Preguntas
				</ion-item>
				<!--
				<ion-item menu-close href="#/app/settings">
					<i class="icon ion-gear-a"></i>
					Configuraciones
				</ion-item>
				-->
				<ion-item menu-close href="#/app/terms">
					<i class="icon ion-document-text"></i>
					Terminos y condiciones
				</ion-item>
				<ion-item menu-close href="#/app/information">
					<i class="icon ion-information-circled"></i>
					Mas información
				</ion-item>
			</ion-list>
			<img ng-src="https://graph.facebook.com/{{::loginSession.id_facebook}}/picture?type=large" ng-if="loginSession.id_facebook != ''" alt="" width="80%">
			<div class="name">{{::loginSession.first_name}} {{::loginSession.last_name}}</div>
			<div class="points">{{::loginSession.points || 0}} puntos</div>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
