<ion-view view-title="Notificaciones" id="notifications">
	<ion-content class="padding-transparent animate-fade-slide-in">
		
        <ion-list>
        	<ion-item class="item item-divider">
        		General
        	</ion-item>
			<ion-item class="item item-toggle">
				Avisos
				<label class="toggle toggle-balanced">
					<input type="checkbox">
			    	<div class="track">
			        	<div class="handle"></div>
					</div>
				</label>
			</ion-item>
			<!--
			<ion-item class="item item-toggle">
				Respuesta de oración
				<label class="toggle toggle-balanced">
					<input type="checkbox">
			    	<div class="track">
			        	<div class="handle"></div>
					</div>
				</label>
			</ion-item>
			-->
			<ion-item class="item item-divider">
				Reflexiones
			</ion-item>
			<ion-item class="item item-toggle" ng-repeat="x in categories">
				{{x.name}}
				<label class="toggle toggle-balanced">
					<input type="checkbox" disabled="disabled">
			    	<div class="track">
			        	<div class="handle"></div>
					</div>
				</label>
			</ion-item>
		</ion-list>
    </ion-content>
</ion-view>
