<ion-view view-title="Mensajes" id="reflexion">
    <ion-content class="padding-transparent animate-fade-slide-in">

        <div class="list condensed-space no-padding">
		    <a class="item item-thumbnail-left" href="#/app/reflexion/{{::x.slug}}" ng-repeat="x in reflexions">
	      		<img ng-src="{{::x.image}}" width="100%" src="images/defaults/main.jpg" ng-style="{'border-radius':0}">
	      		<h2>{{::x.title}}</h2>
	      		<p></p>
	    	</a>
	    </div>

    </ion-content>
</ion-view>
