<ion-view view-title="Configuraciones" id="settings">
    <ion-content class="padding-transparent animate-fade-slide-in">
        <ion-list>
            <!--
            <ion-item href="#/app/notifications" class="item item-icon-right">
                Notificaciones
                <i class="icon ion-android-notifications-none"></i>
            </ion-item>
            -->
            <ion-item href="#/app/terms" class="item item-icon-right">
                Términos y condiciones
                <i class="icon ion-document-text"></i>
            </ion-item>
            <!--
            <ion-item href="#/app/help" class="item item-icon-right">
                Ayuda
                <i class="icon ion-help-circled"></i>
            </ion-item>
            -->
        </ion-list>
    </ion-content>
</ion-view>
