<ion-view view-title="Términos" id="terms">
    <ion-content class="padding-transparent animate-fade-slide-in">
        <div ng-bind-html="::settings.terms" class="text"></div>
    </ion-content>
</ion-view>
