<ion-view view-title="Preguntas">
    <ion-tabs class="tabs-positive tabs-icon-top">

        <ion-tab title="Trivia" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
            <ion-nav-view>
                <ion-view class="trivias">
                    <ion-content class="padding-transparent has-header">
                        
                        <h3 class="message">{{message_wait}} {{not_found}}</h3>

                        <timer class="timer-trivia" countdown="next_trivia" ng-if="next_trivia > 0 && current.vote == null"  interval="1000" max-time-unit="'hour'" finish-callback="loadTrivia()">{{::hhours}}:{{::mminutes}}:{{::sseconds}}</timer>
                        
                        <h3>{{::current.title}}</h3>
                        <img ng-src="{{::current.image}}" alt="" width="100%" ng-if="current.image">
                        </div>

                        <a href="" class="option" ng-repeat="o in current.options" ng-click="sendVote(o)" ng-class="{'correct':o.is_correct && vote}">
                            <img ng-src="{{::o.image}}" alt="" width="40" ng-if="o.image">
                            {{::o.title}}
                            <i class="correct ion-ios-checkmark-outline" ng-if="o.id.toString() == vote.toString() && o.is_correct"></i>
                            <i class="error ion-ios-close-outline" ng-if="o.id.toString() == vote.toString() && !o.is_correct"></i>
                        </a>



                    </ion-content>
                </ion-view>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="Historial" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
            <ion-nav-view>
                <ion-view class="trivias">
                    <ion-content class="padding-transparent has-header">

                        <div class="list card" ng-repeat="x in trivias">

                            <div class="item">
                                <h2>{{::x.title}}</h2>
                                <p>{{::x.created_at | date}}</p>
                            </div>

                            <div class="item item-body">
                                <img class="full-image" ng-src="{{::x.image}}">
                                
                                <div ng-bind-html="x.answer_text" class="text"></div>

                                <span class="option" ng-repeat="o in x.options" ng-class="{'correct':o.is_correct && x.vote}">
                                    <img ng-src="{{::o.image}}" alt="" width="40" ng-if="o.image">
                                    {{::o.title}}
                                    <i class="correct ion-ios-checkmark-outline" ng-if="o.id.toString() == x.vote.toString() && o.is_correct"></i>
                                    <i class="error ion-ios-close-outline" ng-if="o.id.toString() == x.vote.toString() && !o.is_correct"></i>
                                </span>
                        
                            </div>

                        </div>

                    </ion-content>
                </ion-view>

            </ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
