/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

$RobotoDraftFontPath: "../lib/robotodraft/fonts"; // REMINDER: edit as appropriate!
$RobotoDraftFontName: "RobotoDraft";
$RobotoDraftFontVersion: "1.0.0";

@import "www/lib/robotodraft/sass/robotodraft.scss";  
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

$mainColor: #b01d23;


@font-face {
    font-family: 'Brush Regular';
    src: url('fonts/brush_script_regular-webfont.eot');
    src: url('fonts/brush_script_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brush_script_regular-webfont.woff2') format('woff2'),
         url('fonts/brush_script_regular-webfont.woff') format('woff'),
         url('fonts/brush_script_regular-webfont.ttf') format('truetype'),
         url('fonts/brush_script_regular-webfont.svg#brush_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

//Forte MT
@font-face {
  font-family: 'Forte';
  src: url('fonts/ForteMT.eot?#iefix') format('embedded-opentype'),  
  	   url('fonts/ForteMT.woff') format('woff'), 
  	   url('fonts/ForteMT.ttf')  format('truetype'), 
  	   url('fonts/ForteMT.svg#ForteMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Din alternate';
	src: url("fonts/DINRegularAlternate.ttf") format('ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Din Bold';
	src: url("fonts/DINBold.ttf") format('ttf');
	font-weight: bold;
}

*{
	font-family: 'Din alternate' !important;
}


i.correct{
  	color: green;
  	font-size: 25px;
	float: right;
  	margin-top: -2px;
}
i.error{
  	color: red;
  	font-size: 25px;
	float: right;
  	margin-top: -2px;
}
#alert{
	background: url('../images/backgrounds/bg2.jpg');
	background-size: cover;
	.text{
		margin: 20px 0;
	}
}
#detail-reflexion{
	background: url('../images/backgrounds/bg2.jpg');
	background-size: cover;
	.card{
		padding: 10px;
	}
}
#feed{
	background: url('../images/backgrounds/bg2.jpg');
	background-size: cover;
	.article{
		.item{
			min-height: 100px;
		}
	}

}
#help{
	background: url('../images/backgrounds/bg1.jpg') center; 
	background-size: cover;
	.text{
		color:#444;
	}
}
#login{
	background: url('../images/backgrounds/bg1.jpg') center; 
	background-size: cover;
	h1{
		color: #fff;
		margin: 0 0 30px;
  		text-align: center;
  		font-family: 'Forte' !important;
  		font-size: 20px;
	}
	.no-register{
		color:#fff;
		display: block;
		font-size: 16px;
		margin-top: 10px;
		text-align: center;
		text-decoration: none;
	}
	.logo{
		display: block;
		margin: 60px auto 0;
	}
}
#notifications{
	background: url('../images/backgrounds/bg1.jpg') center; 
	background-size: cover;
}
#reflexion{
	background: url('../images/backgrounds/bg1.jpg') center; 
	background-size: cover;
}
#settings{
	background: url('../images/backgrounds/bg2.jpg');
	background-size: cover;
}
#terms{
	background: url('../images/backgrounds/bg2.jpg');
	background-size: cover;	
	.text{
		color:#444;
	}
}
.bar.bar-stable{
	background: $mainColor !important;
	.title{
		color:#fff;
	}
}
.bar .buttons{
	overflow: initial !important;
	
	&.back-button{
		font-size: 12px !important;
		text-transform: initial !important;
		vertical-align: top;
		line-height: 30px;
		padding: 0 0 0 5px;
		max-width: 100px;
		width: 70px;
	}

	span{
		text-transform: initial;
	}
}
.image-modal{
	img{
		display: block;
		margin: 50% auto;
		width: 95%;
	}
	&.transparent, .transparent{
		background: rgba(0,0,0,0.4);
	}
}
.menu{
	background-color: $mainColor !important;
	a.item-content{
		color:#fff;
		padding: 10px 25px;
		vertical-align: top;
		i{
			font-size: 20px;
			margin-right: 10px;
		}
		&:after{
			border: 1px solid rgba(255,255,255,0.1);
  			content: "";
  			display: block;
  			margin: 15px 0 -10px -10px;
		}
	}
	.list{
		margin-top: 20px;
	}
} 
.name{
  	color: #fff;
  	font-size: 20px;
  	margin-top: 20px;
  	text-align: center;
}
.padding-transparent{
	background: rgba(255, 200, 200, 0.6);
	padding: 10px;
}
.points{
	color: #fff;
  	font-size: 15px;
  	margin-top: 5px;
  	text-align: center;
}

.tabs-positive > .tabs, .tabs.tabs-positive{
	background-color: $mainColor;
	border-color: $mainColor;
}
.timer-trivia{
	color:#fff;
	display: block;
	font-size: 40px;
  	font-weight: bold;
  	margin-top: 30%;
	text-align: center;
}
.trivias{
	background: url('../images/backgrounds/bg1.jpg') center; 
	background-size: cover;	
	h3{
		color:#fff;
		text-align: center;
		.message{
			color:rgb(148, 23, 23);
			margin-top: 50%;
		}
	}
	.option{
		display: block;
		text-align: center;
		color:#fff;
		text-decoration:none;
		background: $mainColor;
		padding: 10px;
		margin:10px auto;
		width: 80%;
	}	
	.text{
		font-weight: bold;
		margin-top: 10px;
	}
}
.top-logo{
	position: absolute;
  	top: 13px;
  	right: 0;
  	width: 80px;
  	z-index: 100;
}
.transparent{
	background: rgba(255,200,200,0.6);
}

